*{
	margin:1px;
	padding:0px;
	background-color:rgb(135, 206, 235)
}
#container>p:first-child{
	color:white;
	background-color:black;
}
#container>p:nth-child(2){
	color:black;
}
#container>p:nth-child(3){
	color:black;
}
#container>p:last-child{
	color:red;
}
ul{
	list-style-position:inside;
	width:50%;
	padding:10px;
}
ul>li{
	background-color:gray;
}
ul>li:nth-child(odd){
	background-color:white;
}
ul>li:first-child{
	font-size:22px;
}
ul>li:last-child{
	font-size:22px;
}
ul>li:nth-child(3){
	background-color:pink;
}




